.serie-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.serie-card {
    display: flex;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.serie-info {
    margin-left: 20px;
}

.serie-info p {
    font-size: 16px;
    color: rgb(123, 123, 123);
    margin-top: 5px;
    line-height: 24px;
}

 a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: 100px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #00A5DB;
    background: none;
    color: #00A5DB;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.2s;
}

.serie-info a:hover {
    background: #00A5DB;
    color: #fff;
}
